{% extends 'base.html.twig' %}

{% block title %}New Referral{% endblock %}

{% block body %}
    <h1>Create new Referral</h1>

    {{ include('referral/_form.html.twig') }}

    <a href="{{ path('referral_index') }}">back to list</a>
{% endblock %}
