{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('@MhPage/post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mh_page_post_index') }}">back to list</a>

    {{ include('@MhPage/post/_delete_form.html.twig') }}
{% endblock %}
