{% extends 'base.html.twig' %}

{% block title %}Page Wizard{% endblock %}

{% block body %}
    <h1>Page Wizard</h1>

    {{ include('@MhPage/page/_form.html.twig') }}

    <a href="{{ path('mh_page_page_index') }}">back to list</a>
{% endblock %}
