{% extends 'base.html.twig' %}

{% block title %}New Keyword{% endblock %}

{% block body %}
    <h1>Create new Keyword</h1>

    {{ include('@MhPage/keyword/_form.html.twig') }}

    <a href="{{ path('mh_page_keyword_index') }}">back to list</a>
{% endblock %}
