{% extends 'base.html.twig' %}

{% block title %}Site index{% endblock %}

{% block body %}
<h1>Site manage</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>Readme</h3>
            </div>
            <div class="card-body">
                <p>Project documentation</p>
                <a class="btn btn-primary" href="{{ path('mh_page_readme_index') }}">Readme</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
