{% extends 'base.html.twig' %}

{% block title %}New Site{% endblock %}

{% block body %}
    <h1>Create new Site</h1>

    {{ include('@MhPage/site/_form.html.twig') }}

    <a href="{{ path('mh_page_site_index') }}">back to list</a>
{% endblock %}
